html, body, h1 , h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* simple button class style */
.button-class{
    background-color: darkgreen;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid darkgreen;
}

/* Modal CSS container and styles*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    padding: 0.5rem 0;
    background: lightgray;
}

#pokemon_logo {
    padding: 2rem 0;
    max-width: 50vw;
    height: auto;
}

.modal-container {
    position: fixed;
    padding: 10px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba (0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
}

#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    /* to show it above other content */
    z-index: 999; 
    
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
    
    /* this is used to center the modal */
    display: grid;
    text-align: center;
}

.modal {
    margin: auto;
    display: flex;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 0 10px;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.is-visible {
    display: grid;
}
  
.modal-img {
    width: 10vw;
    height: auto;
}

.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
}
  
.modal h1 {
    margin-top: 0;
}
  
.modal p {
    margin-bottom: 0;
}
  
#modal-container.is-visible {
    /* CSS for modal container - add your own desired CSS styles here */
    display: block;
}